# project
_site
.sass-cache
.vagrant

/obsidian/*
!/obsidian/_posts
!/obsidian/_resources
/obsidian/_posts/*
!/obsidian/_posts/*.md

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
